<%= stylesheet_link_tag "/alavetelitheme/stylesheets/custom" %>
<meta name="google-site-verification" content="_RLAC9OWUI8UJBM_OqNFPZpTxluWd-RhPXE_AeEGSns" />
<meta name="google-site-verification" content="eH2_EMcMNPtcLv6bdpA8luZGXnrDtxz3jB8Qw5hTEN8" />
