<% if Date.today == Date.new(2016,9,28) %>
  It's International Right To Know Day.
  Do your friends know they have a right to information?
  <strong>Let them know</strong>.
  Share on <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.righttoknow.org.au/">Facebook</a>
  or <a href="https://twitter.com/home?status=Everyone%20has%20the%20right%20to%20access%20information%20held%20by%20Australian%20public%20authorities%20https%3A//www.righttoknow.org.au/%20%23RightToKnowDay">Twitter</a>
<% end %>
