<h1>People of Right To Know</h1>

<h2>Most frequent requesters</h2>

<div class="leaderboard-block">
  <div class="leaderboard-item">
    <h3>Last fortnight</h3>

    <ol class="leaderboard-people">
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/henare_degan/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Henare Degan</h4>
            <p>Joined in 2012</p>
          </div>
        </div>
        <p class="leaderboard-count">17 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="http://lorempixel.com/100/100/nature/" alt="image of person" />
          <div>
            <h4 class="u-name">Sarah Van Winkle</h4>
            <p>Joined in July 2016</p>
          </div>
        </div>
        <p class="leaderboard-count">14 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/henare_degan/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Henare Degan</h4>
            <p>Joined in 2012</p>
          </div>
        </div>
        <p class="leaderboard-count">7 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="http://lorempixel.com/100/100/nature/" alt="image of person" />
          <div>
            <h4 class="u-name">Sarah Van Winkle</h4>
            <p>Joined in July 2016</p>
          </div>
        </div>
        <p class="leaderboard-count">4 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </div>
        <p class="leaderboard-count">2 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </div>
        <p class="leaderboard-count">2 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </div>
        <p class="leaderboard-count">2 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </div>
        <p class="leaderboard-count">2 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </div>
        <p class="leaderboard-count">2 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </div>
        <p class="leaderboard-count">2 <span hidden>requests</span></p>
      </li>
    </ol>
  </div>
  <div class="leaderboard-item">
    <h3>All time</h3>

    <ol class="leaderboard-people">
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/henare_degan/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Henare Degan</h4>
            <p>Joined in 2012</p>
          </div>
        </div>
        <p class="leaderboard-count">17 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="http://lorempixel.com/100/100/nature/" alt="image of person" />
          <div>
            <h4 class="u-name">Sarah Van Winkle</h4>
            <p>Joined in July 2016</p>
          </div>
        </div>
        <p class="leaderboard-count">14 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/henare_degan/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Henare Degan</h4>
            <p>Joined in 2012</p>
          </div>
        </div>
        <p class="leaderboard-count">7 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="http://lorempixel.com/100/100/nature/" alt="image of person" />
          <div>
            <h4 class="u-name">Sarah Van Winkle</h4>
            <p>Joined in July 2016</p>
          </div>
        </div>
        <p class="leaderboard-count">4 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </div>
        <p class="leaderboard-count">2 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </div>
        <p class="leaderboard-count">2 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </div>
        <p class="leaderboard-count">2 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </div>
        <p class="leaderboard-count">2 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </div>
        <p class="leaderboard-count">2 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </div>
        <p class="leaderboard-count">2 <span hidden>requests</span></p>
      </li>
    </ol>
  </div>
</div>

<h2>Most frequent annotators</h2>

<div class="leaderboard-block">
  <div class="leaderboard-item">
    <h3>Last fortnight</h3>

    <ol class="leaderboard-people">
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/henare_degan/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Henare Degan</h4>
            <p>Joined in 2012</p>
          </div>
        </div>
        <p class="leaderboard-count">17 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="http://lorempixel.com/100/100/nature/" alt="image of person" />
          <div>
            <h4 class="u-name">Sarah Van Winkle</h4>
            <p>Joined in July 2016</p>
          </div>
        </div>
        <p class="leaderboard-count">14 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/henare_degan/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Henare Degan</h4>
            <p>Joined in 2012</p>
          </div>
        </div>
        <p class="leaderboard-count">7 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="http://lorempixel.com/100/100/nature/" alt="image of person" />
          <div>
            <h4 class="u-name">Sarah Van Winkle</h4>
            <p>Joined in July 2016</p>
          </div>
        </div>
        <p class="leaderboard-count">4 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </div>
        <p class="leaderboard-count">2 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </div>
        <p class="leaderboard-count">2 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </div>
        <p class="leaderboard-count">2 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </div>
        <p class="leaderboard-count">2 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </div>
        <p class="leaderboard-count">2 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </div>
        <p class="leaderboard-count">2 <span hidden>requests</span></p>
      </li>
    </ol>
  </div>
  <div class="leaderboard-item">
    <h3>All time</h3>

    <ol class="leaderboard-people">
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/henare_degan/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Henare Degan</h4>
            <p>Joined in 2012</p>
          </div>
        </div>
        <p class="leaderboard-count">17 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="http://lorempixel.com/100/100/nature/" alt="image of person" />
          <div>
            <h4 class="u-name">Sarah Van Winkle</h4>
            <p>Joined in July 2016</p>
          </div>
        </div>
        <p class="leaderboard-count">14 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/henare_degan/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Henare Degan</h4>
            <p>Joined in 2012</p>
          </div>
        </div>
        <p class="leaderboard-count">7 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="http://lorempixel.com/100/100/nature/" alt="image of person" />
          <div>
            <h4 class="u-name">Sarah Van Winkle</h4>
            <p>Joined in July 2016</p>
          </div>
        </div>
        <p class="leaderboard-count">4 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </div>
        <p class="leaderboard-count">2 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </div>
        <p class="leaderboard-count">2 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </div>
        <p class="leaderboard-count">2 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </div>
        <p class="leaderboard-count">2 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </div>
        <p class="leaderboard-count">2 <span hidden>requests</span></p>
      </li>
      <li class="leaderboard-person">
        <div class="leaderboard-person-details">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </div>
        <p class="leaderboard-count">2 <span hidden>requests</span></p>
      </li>
    </ol>
  </div>
</div>
