<h1>People of Right To Know</h1>

<h2>Most frequent requesters</h2>

<div class="leaderboard-block">
  <div class="leaderboard-item">
    <h3>Last 28 days</h3>

    <ol class="leaderboard-people">
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/henare_degan/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Henare Degan</h4>
            <p>Joined in 2012</p>
          </div>
        </a>
        <p class="leaderboard-count">17</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="http://lorempixel.com/100/100/nature/" alt="image of person" />
          <div>
            <h4 class="u-name">Sarah Van Winkle</h4>
            <p>Joined in July 2016</p>
          </div>
        </a>
        <p class="leaderboard-count">14</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/henare_degan/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Henare Degan</h4>
            <p>Joined in 2012</p>
          </div>
        </a>
        <p class="leaderboard-count">7</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="http://lorempixel.com/100/100/nature/" alt="image of person" />
          <div>
            <h4 class="u-name">Sarah Van Winkle</h4>
            <p>Joined in July 2016</p>
          </div>
        </a>
        <p class="leaderboard-count">4</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </a>
        <p class="leaderboard-count">2</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </a>
        <p class="leaderboard-count">2</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </a>
        <p class="leaderboard-count">2</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </a>
        <p class="leaderboard-count">2</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </a>
        <p class="leaderboard-count">2</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </a>
        <p class="leaderboard-count">2</p>
      </li>
    </ol>
  </div>
  <div class="leaderboard-item">
    <h3>All time</h3>

    <ol class="leaderboard-people">
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/henare_degan/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Henare Degan</h4>
            <p>Joined in 2012</p>
          </div>
        </a>
        <p class="leaderboard-count">17</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="http://lorempixel.com/100/100/nature/" alt="image of person" />
          <div>
            <h4 class="u-name">Sarah Van Winkle</h4>
            <p>Joined in July 2016</p>
          </div>
        </a>
        <p class="leaderboard-count">14</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/henare_degan/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Henare Degan</h4>
            <p>Joined in 2012</p>
          </div>
        </a>
        <p class="leaderboard-count">7</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="http://lorempixel.com/100/100/nature/" alt="image of person" />
          <div>
            <h4 class="u-name">Sarah Van Winkle</h4>
            <p>Joined in July 2016</p>
          </div>
        </a>
        <p class="leaderboard-count">4</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </a>
        <p class="leaderboard-count">2</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </a>
        <p class="leaderboard-count">2</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </a>
        <p class="leaderboard-count">2</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </a>
        <p class="leaderboard-count">2</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </a>
        <p class="leaderboard-count">2</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </a>
        <p class="leaderboard-count">2</p>
      </li>
    </ol>
  </div>
</div>

<h2>Most frequent annotators</h2>

<div class="leaderboard-block">
  <div class="leaderboard-item">
    <h3>Last 28 days</h3>

    <ol class="leaderboard-people">
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="https://www.righttoknow.org.au/user/henare_degan">
          <img src="https://www.righttoknow.org.au/user/henare_degan/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Henare Degan</h4>
            <p>Joined in 2012</p>
          </div>
        </a>
        <p class="leaderboard-count">17</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="http://lorempixel.com/100/100/nature/" alt="image of person" />
          <div>
            <h4 class="u-name">Sarah Van Winkle</h4>
            <p>Joined in July 2016</p>
          </div>
        </a>
        <p class="leaderboard-count">14</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/henare_degan/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Henare Degan</h4>
            <p>Joined in 2012</p>
          </div>
        </a>
        <p class="leaderboard-count">7</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="http://lorempixel.com/100/100/nature/" alt="image of person" />
          <div>
            <h4 class="u-name">Sarah Van Winkle</h4>
            <p>Joined in July 2016</p>
          </div>
        </a>
        <p class="leaderboard-count">4</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </a>
        <p class="leaderboard-count">2</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </a>
        <p class="leaderboard-count">2</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </a>
        <p class="leaderboard-count">2</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </a>
        <p class="leaderboard-count">2</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </a>
        <p class="leaderboard-count">2</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </a>
        <p class="leaderboard-count">2</p>
      </li>
    </ol>
  </div>
  <div class="leaderboard-item">
    <h3>All time</h3>

    <ol class="leaderboard-people">
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/henare_degan/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Henare Degan</h4>
            <p>Joined in 2012</p>
          </div>
        </a>
        <p class="leaderboard-count">17</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="http://lorempixel.com/100/100/nature/" alt="image of person" />
          <div>
            <h4 class="u-name">Sarah Van Winkle</h4>
            <p>Joined in July 2016</p>
          </div>
        </a>
        <p class="leaderboard-count">14</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/henare_degan/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Henare Degan</h4>
            <p>Joined in 2012</p>
          </div>
        </a>
        <p class="leaderboard-count">7</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="http://lorempixel.com/100/100/nature/" alt="image of person" />
          <div>
            <h4 class="u-name">Sarah Van Winkle</h4>
            <p>Joined in July 2016</p>
          </div>
        </a>
        <p class="leaderboard-count">4</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </a>
        <p class="leaderboard-count">2</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </a>
        <p class="leaderboard-count">2</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </a>
        <p class="leaderboard-count">2</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </a>
        <p class="leaderboard-count">2</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </a>
        <p class="leaderboard-count">2</p>
      </li>
      <li class="leaderboard-person">
        <a class="leaderboard-person-details" href="/">
          <img src="https://www.righttoknow.org.au/user/luke_bacon/photo.png" alt="image of person" />
          <div>
            <h4 class="u-name">Luke Bacon</h4>
            <p>Joined in 2013</p>
          </div>
        </a>
        <p class="leaderboard-count">2</p>
      </li>
    </ol>
  </div>
</div>
