<p>
  We aim to cover all Australian Federal public authorities.
  Please <%= raw(_('<a href="%s">let us know</a>') % [help_requesting_path + '#missing_body']) %> if there
  is a State or Local Authority you would like us to add.
</p>
<p>
  <%= raw(_('<a href="%s">Are we missing a public authority?</a>') % [help_requesting_path + '#missing_body']) %>
</p>
<p>
  <%= link_to _('List of all authorities (CSV)'), all_public_bodies_csv_url() %>
</p>
