$main_menu-mobile_menu_cutoff: 58em;
$body-font-family: 'Maven Pro', Arial, sans-serif;
$form-label-font-color: #333333;
$base-font-size: 15px;

$logo-filename: 'logo.png';
$logo-highdpi-filename: 'logo.png'; // TODO: Create new highres logo (#579)
$logo-width: 250px;
$logo-height: 97px;
