body {
color:#444;
font-family:'Maven Pro', Arial, sans-serif;
background-color: #f0f0f0;
}

.entirebody {
  background-color: white;
}

.after-footer {
  background-color: #f0f0f0;
}

#footer {
  float: inherit;
}

#footer_inner {
width:890px;
position:relative;
margin:auto;
}

#oaf_logo {
  border: 1px #bbb solid;
  vertical-align: middle;
  margin-left: 5px;
}

#oaf {
  margin-top: 1em;
  margin-bottom: 50px;
  float: left;
  text-align: left;
}

#footer img {
  border: 1px #ddd solid;
  vertical-align: middle;
}

#oaf ul {
  list-style: none;
  padding-left: 0;
}

#footer ul li {
  margin-top: 5px;
}

#footer p {
  margin-top: 0;
}

#footer .right {
  margin-top: 22px;
  float: right;
  text-align: left;
}

#footer .right ul {
  list-style: none;
  padding-left: 0;
}

#banner {
background-color:#00DCF0;
-moz-box-shadow: 0 0 10px;
-webkit-box-shadow: 0 0 10px;
box-shadow: 0 0 10px;
}

#footer {
  border-top: 1px #ddd solid;
}

#logo img {
  width: 250px;
}

#banner_inner a#logo {
left: 9px;
top:75px;
z-index: 90;
}

#topnav {
font-family:'Maven Pro', Arial, sans-serif;
float: right;
margin-left: 0;
top: 100px;
background: #d0ffff;
}

#topnav li a:hover {
  color:#005068;
}

#topnav ul li {
  padding-left: 13px;
  padding-right: 13px;
  margin: 0;
}

#topnav ul li.selected {
 background:#fff;
}

#logged_in_bar {
color:#444;
}

#logged_in_bar a,#logged_in_bar a:visited {
color:#ffffff;
}

#content {
  padding-top: 2em;
}

h1,h2,h3 {
 font-family: 'Actor', Arial, sans-serif;
 color:#005068;
}

h1 {
color:#005068;
font-size:42px;
}

h2 {
font-size:1.4em;
}


h2,dt {
color:#005068;
font-family:'Actor', Arial, sans-serif;
font-weight:400;
}

h3 {
color:#005068;
font-weight:400;
}

a, a:hover {
  color:#A60201;
}

a, .request_listing .requester a {
  text-decoration: none;
}

a:hover, .request_listing .requester a:hover {
  text-decoration: underline;
}

p.subtitle {
color:#005068;
}

.request_listing span.head a,.user_listing span.head a,.body_listing span.head a {
color:#A60201;
font-family:'Maven Pro', Arial, sans-serif;
font-weight:400;
}

.request_listing span.desc {
background:url(/images/quote-marks.png) no-repeat;
color:#444;
}

span#to_public_body {
font-family:'Maven Pro', Arial, sans-serif;
}

#middle_strip {
color:#005068;
}

#stepwise_make_request {
background-color:#f9f9f9;
border:1px solid #888;
}

#stepwise_make_request p:last-child, #request_header_text p:last-child {
  margin-bottom: 0;
}

#stepwise_make_request a {
  display: block;
  width: 3em;
  text-align: center;
  margin: 15px auto 0 auto;
}

#request_header_subject input {
  width: 409px;
}

#request_form label,label.form_label {
font-family:'Maven Pro', Arial, sans-serif;
color:#005068;
}

.list-filter-item h3 {
  font-size: 1.1em;
}

#request_form textarea {
  font-family:'Maven Pro', Arial, sans-serif;
  font-size: 15px;
  width: 33em;
}

#navigation_search {
  opacity: inherit;
}

#navigation_search p {
  margin-right: inherit;
}

#navigation_search input#navigation_search_query {
  border-color: #888;
  background: url(/alavetelitheme/images/search-icon.png) no-repeat left center;
  background-color: white;
  padding-left: 2em;
  border-radius: 5px;
}

#navigation_search input#navigation_search_button {
  display: none;
}

form input[type=submit],a.link_button_green,a.link_button_green_large {
font-family:'Maven Pro', Arial, sans-serif;
}

a.link_button_green:hover,a.link_button_green_large:hover {
  text-decoration: none;
  color: white;
}

/* Mostly magic for adding page curls */

div#request_show {
  position: relative;
  z-index: 10;
}
div.correspondence {
  margin-bottom: 2em;
  /* Setting overflow: auto breaks the page-curl */
  overflow: inherit;

  background: #F9F9F9;
  /*background: -moz-linear-gradient(0deg, #FCFCFC 0%, #FFF 25%, #FFF 75%, #FCFCFC 100%);
  background: -ms-linear-gradient(0deg, #FCFCFC 0%, #FFF 25%, #FFF 75%, #FCFCFC 100%);
  background: -webkit-linear-gradient(0deg, #FCFCFC 0%, #FFF 25%, #FFF 75%, #FCFCFC 100%);
  background: linear-gradient(0deg, #FCFCFC 0%, #FFF 25%, #FFF 75%, #FCFCFC 100%);*/
  border: 1px solid #777777;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  position: relative;
}

div.outgoing.correspondence {
  background: #ffffd2;
  /*background: -moz-linear-gradient(0deg, #F5F5C7 0%, #FFFFD2 25%, #FFFFD2 75%, #F5F5C7 100%);
  background: -ms-linear-gradient(0deg, #F5F5C7 0%, #FFFFD2 25%, #FFFFD2 75%, #F5F5C7 100%);
  background: -webkit-linear-gradient(0deg, #F5F5C7 0%, #FFFFD2 25%, #FFFFD2 75%, #F5F5C7 100%);
  background: linear-gradient(0deg, #F5F5C7 0%, #FFFFD2 25%, #FFFFD2 75%, #F5F5C7 100%);*/
}

div.correspondence:before, div.correspondence:after {
  background: none;
  bottom: 12px;
  -moz-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
  content: "";
  height: 10px;
  left: 12px;
  position: absolute;
  width: 40%;
  z-index: -1;
  -moz-transform: skew(-4deg) rotate(-4deg);
  -webkit-transform: skew(-4deg) rotate(-4deg);
  transform: skew(-4deg) rotate(-4deg);
  top: auto;
  bottom: 12px;
  -moz-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
}

div.correspondence:after {
  -moz-transform: skew(4deg) rotate(4deg);
  -webkit-transform: skew(4deg) rotate(4deg);
  transform: skew(4deg) rotate(4deg);
  left: auto;
  right: 12px;
}

#frontpage_splash {
background: none;
}

#frontpage_splash h1 {
font-family:'Actor', Arial, sans-serif;
font-size:39px;
color:#005068;
font-weight:400;
margin:0 0 20px;
}

#frontpage_splash h1 strong {
font-family:'Actor', Arial, sans-serif;
font-size:54px;
line-height: 1em;
color:#005068;
font-weight:400;
}

#frontpage_splash h1 span {
font-family:'Actor', Arial, sans-serif;
font-style:inherit;
font-size:39px;
color:#005068;
}

#frontpage_splash h2 {
font-size:26px;
font-weight:400;
color:#005068;
font-family:'Actor', Arial, sans-serif;
}

#frontpage_splash h2 strong {
font-size:31px;
color:#005068;
font-family:'Actor', Arial, sans-serif;
}

#frontpage_splash h2 span {
color:#005068;
font-style:inherit;
font-size:19px;
font-family: 'Actor', Arial, sans-serif;
}

#frontpage_splash #frontpage_right_to_know {
  margin-top: 80px;
  width: 221px;
  float: left;
}

#frontpage_right_to_know h2, #frontpage_search_box h2 {
  margin-top: 0px;
}

#frontpage_splash #frontpage_start_request {
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 70px;
  width: 291px;
  float: left;
}

#frontpage_splash #frontpage_search_box {
  margin-top: 80px;
  width: 221px;
  float: left;
  margin-bottom: 0px;
}

#ui-datepicker-div.ui-widget {
font-family:'Maven Pro', Arial, sans-serif;
color:#005068;
}

#ui-datepicker-div .ui-datepicker-header,#ui-datepicker-div .ui-widget-header {
color:#005068;
font-family:'Maven Pro';
}

#ui-datepicker-div .ui-state-default:hover {
background:#00dcf0;
color:#FFF;
}

#ui-datepicker-div .ui-state-active {
background:#005068;
color:#FFF;
}

p.public-body-name-prefix {
font-family: 'Actor', Arial, sans-serif;
color:#005068;
margin-bottom: 0px;
}

#other-country-notice a {
color:#FFF;
}


#link_box {
position:absolute;
text-align:left;
background-color:#fff;
z-index:999;
opacity:1.0;
border-radius:6px;
-moz-border-radius:6px;
border:1px solid #005068;
display:none;
padding:10px;
}

#link_box .close-button {
margin-left:15px;
padding:0;
}

#follow_count {
 font-family: 'Actor', Arial, sans-serif;
 color:#005068;
}

div.controller_help dt:hover > a, div.controller_help h1:hover > a, div#help_unhappy h1:hover > a.hover_a {
color: #a60201;
}

form#signin_form input[type=text], form#signin_form input[type=password], form#signup_form input[type=text], form#signup_form input[type=password] {
width:270px;
}

form#set_draft_profile_photo_form label.form_label {
  width: inherit;
}

.fieldWithErrors {
background-color:#fee;
border: none;
padding: 0;
}

.correspondence a.link_to_this, .comment_in_request a.link_to_this {
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.correspondence:hover a.link_to_this, .comment_in_request:hover a.link_to_this {
  opacity: 1;
}

div.controller_help dt a,div.controller_help h1 a,div#help_unhappy h1 a.hover_a {
background-color:inherit;
}

/* Fix button height in Firefox */
form input[type=submit] {
height: 30px;
padding:0px 6px;
}

input::-moz-focus-inner
{
    border: 0;
    padding: 0;
}

a.link_button_green_large {
background:url(/alavetelitheme/images/button-gradient-large.png);
}

form input[type=submit],a.link_button_green {
background:url(/alavetelitheme/images/button-gradient.png);
}

#date_range label.title,#filter_requests_form label.title,h3.title {
width:120px;
}

.filter-request-types {
  width: 445px;
}

div.pagination {
padding-top:1em;
}

#frontpage_supporting {
  clear: both;
  padding-top: 1em;
}

#frontpage_supporting h2 {
  margin-bottom: 1em;
}

#frontpage_supporting h2 a {
  color:#005068; 
}

#frontpage_supporting h2 a:hover {
  text-decoration: underline;
}

#frontpage_supporting img {
  margin-right: 80px;
  vertical-align: middle;
}

#frontpage_supporting img {
  margin-right: 20px;
  margin-top: 10px;
}

#openforum_logo {
  height: 45px;
  opacity: 0.8;
}

#okfa_logo {
  height: 45px;
  opacity: 1.0;
}

#cpd_logo {
  height: 45px;
  opacity: 0.6;
}

#getup_logo {
  height: 40px;
  opacity: 0.55;
}

#crikey_logo {
  height: 35px;
  opacity: 0.55;
}

#frontpage_supporting img#newmatilda_logo {
  height: 28px;
  opacity: 0.6;
  margin-right: 0;
}

#efa_logo {
  height: 45px;
  opacity: 0.8;
  padding-bottom: 12px;
}

#mysociety_logo {
  height: 25px;
  opacity: 0.95;
  margin-top: 5px;
}

#opennorth_logo {
  height: 50px;
  opacity: 0.65;
}

#frontpage_supporting img#opennz_logo {
  height: 50px;
  opacity: 0.65;
  margin-right: 0;
}

#examples_1 ul li:last-child {
border-bottom:0;
}
