.act_link a {
  line-height: 1.5em;
  padding-left: 20px;
  background-size: 16px;
  background-position: 0 3px;
  background-repeat: no-repeat;
  display: inline-block;
}

.act_link--facebook a {
  background-image: image-url('facebook-16.png');
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    background-image: image-url('facebook-32.png');
  }
}

.act_link--medium a {
  background-image: image-url('medium-16.png');
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    background-image: image-url('medium-32.png');
  }
}

.act_link--twitter a {
  background-image: image-url('twitter-16.png');
}

.act_link--wordpress a {
  background-image: image-url('wordpress.png');
}

.act_link--widget a {
  background-image: image-url('widget.png');
}
